{% load thumbnail %}

<p class="section_text_p1">Get To Know More</p>
<h1 class="title">About Me</h1>
<div class="section-container">
    <div class="about__pic-container">
        {% thumbnail user.about_image "1000x1000" as im %}
            <img src="{{ im.url }}" alt="" class="about-pic">
        {% endthumbnail %}
    </div>
    <div class="about-details-container">
        <div class="about-containers">
            <div class="details-container">
                <i class='bx bxs-briefcase-alt' id="icon"></i>
                <h3>Experience</h3>
                <p>1 month <br> {{user.work_experience}}</p>
            </div>
            <div class="details-container">
                <i class='bx bxs-graduation' id="icon"></i>
                <h3>Education</h3>
                <p>9 month<br/> {{ user.education }}</p>
            </div>
        </div>
        <div class="text-container">
            <p>
                {{user.text_about}}
            </p>
        </div>
    </div>
</div>