<p class="section_text_p1">Get In Touch</p>
<h1 class="title">Contact Me</h1>

<div class="contact-section">
    <div class="contact-info">
        <div><i class='bx bxs-map-pin'></i>{{user.address}}</div>
        <div><i class='bx bxl-gmail'></i>{{user.email}}</div>
        {% if user.telegram_username %}
            <div><i class='bx bxl-telegram'></i>@{{user.telegram_username}}</div>
        {% endif %}
    </div>
    <div class="contact-form">
        <form class="contact" method="post">
            {% csrf_token %}
            <input type="text" name="name" class="text-box" placeholder="Your Name" id="id_name" required>
            <input type="email" name="email" class="text-box" placeholder="Your Email" id="id_email" required>
            <textarea name="message" rows="5" placeholder="Your Message" required id="id_message"></textarea>
            <input type="submit" name="submit" class="send-btn" value="Send">
        </form>
    </div>
</div>