APScheduler==3.6.3
asgiref==3.7.2
cachetools==4.2.2
certifi==2023.7.22
Django==3.2.3
gunicorn==21.2.0
packaging==23.1
Pillow==10.0.0
python-dotenv==1.0.0
python-telegram-bot==13.7
pytz==2023.3
ruff==0.0.284
six==1.16.0
sorl-thumbnail==12.9.0
sqlparse==0.4.4
tornado==6.3.3
tzlocal==5.0.1
psycopg2-binary==2.9.3
